<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.InnodbTempTableInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.InnodbTempTableInfo" >
    <result column="TABLE_ID" property="tableId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="N_COLS" property="nCols" jdbcType="INTEGER" />
    <result column="SPACE" property="space" jdbcType="INTEGER" />
    <result column="PER_TABLE_TABLESPACE" property="perTableTablespace" jdbcType="VARCHAR" />
    <result column="IS_COMPRESSED" property="isCompressed" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TABLE_ID, NAME, N_COLS, SPACE, PER_TABLE_TABLESPACE, IS_COMPRESSED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.InnodbTempTableInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_TEMP_TABLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.InnodbTempTableInfoExample" >
    delete from INNODB_TEMP_TABLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.InnodbTempTableInfo" >
    insert into INNODB_TEMP_TABLE_INFO (TABLE_ID, NAME, N_COLS, 
      SPACE, PER_TABLE_TABLESPACE, IS_COMPRESSED
      )
    values (#{tableId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{nCols,jdbcType=INTEGER}, 
      #{space,jdbcType=INTEGER}, #{perTableTablespace,jdbcType=VARCHAR}, #{isCompressed,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.InnodbTempTableInfo" >
    insert into INNODB_TEMP_TABLE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        TABLE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="nCols != null" >
        N_COLS,
      </if>
      <if test="space != null" >
        SPACE,
      </if>
      <if test="perTableTablespace != null" >
        PER_TABLE_TABLESPACE,
      </if>
      <if test="isCompressed != null" >
        IS_COMPRESSED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nCols != null" >
        #{nCols,jdbcType=INTEGER},
      </if>
      <if test="space != null" >
        #{space,jdbcType=INTEGER},
      </if>
      <if test="perTableTablespace != null" >
        #{perTableTablespace,jdbcType=VARCHAR},
      </if>
      <if test="isCompressed != null" >
        #{isCompressed,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.InnodbTempTableInfoExample" resultType="java.lang.Integer" >
    select count(*) from INNODB_TEMP_TABLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update INNODB_TEMP_TABLE_INFO
    <set >
      <if test="record.tableId != null" >
        TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nCols != null" >
        N_COLS = #{record.nCols,jdbcType=INTEGER},
      </if>
      <if test="record.space != null" >
        SPACE = #{record.space,jdbcType=INTEGER},
      </if>
      <if test="record.perTableTablespace != null" >
        PER_TABLE_TABLESPACE = #{record.perTableTablespace,jdbcType=VARCHAR},
      </if>
      <if test="record.isCompressed != null" >
        IS_COMPRESSED = #{record.isCompressed,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update INNODB_TEMP_TABLE_INFO
    set TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      N_COLS = #{record.nCols,jdbcType=INTEGER},
      SPACE = #{record.space,jdbcType=INTEGER},
      PER_TABLE_TABLESPACE = #{record.perTableTablespace,jdbcType=VARCHAR},
      IS_COMPRESSED = #{record.isCompressed,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>