<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.NdbBinlogIndexMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.NdbBinlogIndex" >
    <result column="Position" property="position" jdbcType="BIGINT" />
    <result column="File" property="file" jdbcType="VARCHAR" />
    <result column="epoch" property="epoch" jdbcType="BIGINT" />
    <result column="inserts" property="inserts" jdbcType="INTEGER" />
    <result column="updates" property="updates" jdbcType="INTEGER" />
    <result column="deletes" property="deletes" jdbcType="INTEGER" />
    <result column="schemaops" property="schemaops" jdbcType="INTEGER" />
    <result column="orig_server_id" property="origServerId" jdbcType="INTEGER" />
    <result column="orig_epoch" property="origEpoch" jdbcType="BIGINT" />
    <result column="gci" property="gci" jdbcType="INTEGER" />
    <result column="next_position" property="nextPosition" jdbcType="BIGINT" />
    <result column="next_file" property="nextFile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Position, File, epoch, inserts, updates, deletes, schemaops, orig_server_id, orig_epoch, 
    gci, next_position, next_file
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.NdbBinlogIndexExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ndb_binlog_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.NdbBinlogIndexExample" >
    delete from ndb_binlog_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.NdbBinlogIndex" >
    insert into ndb_binlog_index (Position, File, epoch, 
      inserts, updates, deletes, 
      schemaops, orig_server_id, orig_epoch, 
      gci, next_position, next_file
      )
    values (#{position,jdbcType=BIGINT}, #{file,jdbcType=VARCHAR}, #{epoch,jdbcType=BIGINT}, 
      #{inserts,jdbcType=INTEGER}, #{updates,jdbcType=INTEGER}, #{deletes,jdbcType=INTEGER}, 
      #{schemaops,jdbcType=INTEGER}, #{origServerId,jdbcType=INTEGER}, #{origEpoch,jdbcType=BIGINT}, 
      #{gci,jdbcType=INTEGER}, #{nextPosition,jdbcType=BIGINT}, #{nextFile,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.NdbBinlogIndex" >
    insert into ndb_binlog_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="position != null" >
        Position,
      </if>
      <if test="file != null" >
        File,
      </if>
      <if test="epoch != null" >
        epoch,
      </if>
      <if test="inserts != null" >
        inserts,
      </if>
      <if test="updates != null" >
        updates,
      </if>
      <if test="deletes != null" >
        deletes,
      </if>
      <if test="schemaops != null" >
        schemaops,
      </if>
      <if test="origServerId != null" >
        orig_server_id,
      </if>
      <if test="origEpoch != null" >
        orig_epoch,
      </if>
      <if test="gci != null" >
        gci,
      </if>
      <if test="nextPosition != null" >
        next_position,
      </if>
      <if test="nextFile != null" >
        next_file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="position != null" >
        #{position,jdbcType=BIGINT},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="epoch != null" >
        #{epoch,jdbcType=BIGINT},
      </if>
      <if test="inserts != null" >
        #{inserts,jdbcType=INTEGER},
      </if>
      <if test="updates != null" >
        #{updates,jdbcType=INTEGER},
      </if>
      <if test="deletes != null" >
        #{deletes,jdbcType=INTEGER},
      </if>
      <if test="schemaops != null" >
        #{schemaops,jdbcType=INTEGER},
      </if>
      <if test="origServerId != null" >
        #{origServerId,jdbcType=INTEGER},
      </if>
      <if test="origEpoch != null" >
        #{origEpoch,jdbcType=BIGINT},
      </if>
      <if test="gci != null" >
        #{gci,jdbcType=INTEGER},
      </if>
      <if test="nextPosition != null" >
        #{nextPosition,jdbcType=BIGINT},
      </if>
      <if test="nextFile != null" >
        #{nextFile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.NdbBinlogIndexExample" resultType="java.lang.Integer" >
    select count(*) from ndb_binlog_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ndb_binlog_index
    <set >
      <if test="record.position != null" >
        Position = #{record.position,jdbcType=BIGINT},
      </if>
      <if test="record.file != null" >
        File = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.epoch != null" >
        epoch = #{record.epoch,jdbcType=BIGINT},
      </if>
      <if test="record.inserts != null" >
        inserts = #{record.inserts,jdbcType=INTEGER},
      </if>
      <if test="record.updates != null" >
        updates = #{record.updates,jdbcType=INTEGER},
      </if>
      <if test="record.deletes != null" >
        deletes = #{record.deletes,jdbcType=INTEGER},
      </if>
      <if test="record.schemaops != null" >
        schemaops = #{record.schemaops,jdbcType=INTEGER},
      </if>
      <if test="record.origServerId != null" >
        orig_server_id = #{record.origServerId,jdbcType=INTEGER},
      </if>
      <if test="record.origEpoch != null" >
        orig_epoch = #{record.origEpoch,jdbcType=BIGINT},
      </if>
      <if test="record.gci != null" >
        gci = #{record.gci,jdbcType=INTEGER},
      </if>
      <if test="record.nextPosition != null" >
        next_position = #{record.nextPosition,jdbcType=BIGINT},
      </if>
      <if test="record.nextFile != null" >
        next_file = #{record.nextFile,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ndb_binlog_index
    set Position = #{record.position,jdbcType=BIGINT},
      File = #{record.file,jdbcType=VARCHAR},
      epoch = #{record.epoch,jdbcType=BIGINT},
      inserts = #{record.inserts,jdbcType=INTEGER},
      updates = #{record.updates,jdbcType=INTEGER},
      deletes = #{record.deletes,jdbcType=INTEGER},
      schemaops = #{record.schemaops,jdbcType=INTEGER},
      orig_server_id = #{record.origServerId,jdbcType=INTEGER},
      orig_epoch = #{record.origEpoch,jdbcType=BIGINT},
      gci = #{record.gci,jdbcType=INTEGER},
      next_position = #{record.nextPosition,jdbcType=BIGINT},
      next_file = #{record.nextFile,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>