<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.ReplicationApplierStatusByWorkerMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorker" >
    <result column="CHANNEL_NAME" property="channelName" jdbcType="CHAR" />
    <result column="WORKER_ID" property="workerId" jdbcType="BIGINT" />
    <result column="THREAD_ID" property="threadId" jdbcType="BIGINT" />
    <result column="SERVICE_STATE" property="serviceState" jdbcType="CHAR" />
    <result column="LAST_SEEN_TRANSACTION" property="lastSeenTransaction" jdbcType="CHAR" />
    <result column="LAST_ERROR_NUMBER" property="lastErrorNumber" jdbcType="INTEGER" />
    <result column="LAST_ERROR_MESSAGE" property="lastErrorMessage" jdbcType="VARCHAR" />
    <result column="LAST_ERROR_TIMESTAMP" property="lastErrorTimestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CHANNEL_NAME, WORKER_ID, THREAD_ID, SERVICE_STATE, LAST_SEEN_TRANSACTION, LAST_ERROR_NUMBER, 
    LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorkerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_applier_status_by_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorkerExample" >
    delete from replication_applier_status_by_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorker" >
    insert into replication_applier_status_by_worker (CHANNEL_NAME, WORKER_ID, THREAD_ID, 
      SERVICE_STATE, LAST_SEEN_TRANSACTION, LAST_ERROR_NUMBER, 
      LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP)
    values (#{channelName,jdbcType=CHAR}, #{workerId,jdbcType=BIGINT}, #{threadId,jdbcType=BIGINT}, 
      #{serviceState,jdbcType=CHAR}, #{lastSeenTransaction,jdbcType=CHAR}, #{lastErrorNumber,jdbcType=INTEGER}, 
      #{lastErrorMessage,jdbcType=VARCHAR}, #{lastErrorTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorker" >
    insert into replication_applier_status_by_worker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="workerId != null" >
        WORKER_ID,
      </if>
      <if test="threadId != null" >
        THREAD_ID,
      </if>
      <if test="serviceState != null" >
        SERVICE_STATE,
      </if>
      <if test="lastSeenTransaction != null" >
        LAST_SEEN_TRANSACTION,
      </if>
      <if test="lastErrorNumber != null" >
        LAST_ERROR_NUMBER,
      </if>
      <if test="lastErrorMessage != null" >
        LAST_ERROR_MESSAGE,
      </if>
      <if test="lastErrorTimestamp != null" >
        LAST_ERROR_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelName != null" >
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=BIGINT},
      </if>
      <if test="threadId != null" >
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null" >
        #{serviceState,jdbcType=CHAR},
      </if>
      <if test="lastSeenTransaction != null" >
        #{lastSeenTransaction,jdbcType=CHAR},
      </if>
      <if test="lastErrorNumber != null" >
        #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null" >
        #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null" >
        #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.ReplicationApplierStatusByWorkerExample" resultType="java.lang.Integer" >
    select count(*) from replication_applier_status_by_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update replication_applier_status_by_worker
    <set >
      <if test="record.channelName != null" >
        CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.workerId != null" >
        WORKER_ID = #{record.workerId,jdbcType=BIGINT},
      </if>
      <if test="record.threadId != null" >
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceState != null" >
        SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      </if>
      <if test="record.lastSeenTransaction != null" >
        LAST_SEEN_TRANSACTION = #{record.lastSeenTransaction,jdbcType=CHAR},
      </if>
      <if test="record.lastErrorNumber != null" >
        LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lastErrorMessage != null" >
        LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.lastErrorTimestamp != null" >
        LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update replication_applier_status_by_worker
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      WORKER_ID = #{record.workerId,jdbcType=BIGINT},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      LAST_SEEN_TRANSACTION = #{record.lastSeenTransaction,jdbcType=CHAR},
      LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>