<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.SchemaTableStatisticsWithBufferMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBuffer" >
    <result column="table_schema" property="tableSchema" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="rows_fetched" property="rowsFetched" jdbcType="BIGINT" />
    <result column="rows_inserted" property="rowsInserted" jdbcType="BIGINT" />
    <result column="rows_updated" property="rowsUpdated" jdbcType="BIGINT" />
    <result column="rows_deleted" property="rowsDeleted" jdbcType="BIGINT" />
    <result column="io_read_requests" property="ioReadRequests" jdbcType="DECIMAL" />
    <result column="io_write_requests" property="ioWriteRequests" jdbcType="DECIMAL" />
    <result column="io_misc_requests" property="ioMiscRequests" jdbcType="DECIMAL" />
    <result column="innodb_buffer_pages" property="innodbBufferPages" jdbcType="BIGINT" />
    <result column="innodb_buffer_pages_hashed" property="innodbBufferPagesHashed" jdbcType="BIGINT" />
    <result column="innodb_buffer_pages_old" property="innodbBufferPagesOld" jdbcType="BIGINT" />
    <result column="innodb_buffer_rows_cached" property="innodbBufferRowsCached" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferWithBLOBs" extends="BaseResultMap" >
    <result column="fetch_latency" property="fetchLatency" jdbcType="LONGVARCHAR" />
    <result column="insert_latency" property="insertLatency" jdbcType="LONGVARCHAR" />
    <result column="update_latency" property="updateLatency" jdbcType="LONGVARCHAR" />
    <result column="delete_latency" property="deleteLatency" jdbcType="LONGVARCHAR" />
    <result column="io_read" property="ioRead" jdbcType="LONGVARCHAR" />
    <result column="io_read_latency" property="ioReadLatency" jdbcType="LONGVARCHAR" />
    <result column="io_write" property="ioWrite" jdbcType="LONGVARCHAR" />
    <result column="io_write_latency" property="ioWriteLatency" jdbcType="LONGVARCHAR" />
    <result column="io_misc_latency" property="ioMiscLatency" jdbcType="LONGVARCHAR" />
    <result column="innodb_buffer_allocated" property="innodbBufferAllocated" jdbcType="LONGVARCHAR" />
    <result column="innodb_buffer_data" property="innodbBufferData" jdbcType="LONGVARCHAR" />
    <result column="innodb_buffer_free" property="innodbBufferFree" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    table_schema, table_name, rows_fetched, rows_inserted, rows_updated, rows_deleted, 
    io_read_requests, io_write_requests, io_misc_requests, innodb_buffer_pages, innodb_buffer_pages_hashed, 
    innodb_buffer_pages_old, innodb_buffer_rows_cached
  </sql>
  <sql id="Blob_Column_List" >
    fetch_latency, insert_latency, update_latency, delete_latency, io_read, io_read_latency, 
    io_write, io_write_latency, io_misc_latency, innodb_buffer_allocated, innodb_buffer_data, 
    innodb_buffer_free
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from schema_table_statistics_with_buffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from schema_table_statistics_with_buffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferExample" >
    delete from schema_table_statistics_with_buffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferWithBLOBs" >
    insert into schema_table_statistics_with_buffer (table_schema, table_name, rows_fetched, 
      rows_inserted, rows_updated, rows_deleted, 
      io_read_requests, io_write_requests, io_misc_requests, 
      innodb_buffer_pages, innodb_buffer_pages_hashed, 
      innodb_buffer_pages_old, innodb_buffer_rows_cached, 
      fetch_latency, insert_latency, update_latency, 
      delete_latency, io_read, io_read_latency, 
      io_write, io_write_latency, io_misc_latency, 
      innodb_buffer_allocated, innodb_buffer_data, 
      innodb_buffer_free)
    values (#{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{rowsFetched,jdbcType=BIGINT}, 
      #{rowsInserted,jdbcType=BIGINT}, #{rowsUpdated,jdbcType=BIGINT}, #{rowsDeleted,jdbcType=BIGINT}, 
      #{ioReadRequests,jdbcType=DECIMAL}, #{ioWriteRequests,jdbcType=DECIMAL}, #{ioMiscRequests,jdbcType=DECIMAL}, 
      #{innodbBufferPages,jdbcType=BIGINT}, #{innodbBufferPagesHashed,jdbcType=BIGINT}, 
      #{innodbBufferPagesOld,jdbcType=BIGINT}, #{innodbBufferRowsCached,jdbcType=DECIMAL}, 
      #{fetchLatency,jdbcType=LONGVARCHAR}, #{insertLatency,jdbcType=LONGVARCHAR}, #{updateLatency,jdbcType=LONGVARCHAR}, 
      #{deleteLatency,jdbcType=LONGVARCHAR}, #{ioRead,jdbcType=LONGVARCHAR}, #{ioReadLatency,jdbcType=LONGVARCHAR}, 
      #{ioWrite,jdbcType=LONGVARCHAR}, #{ioWriteLatency,jdbcType=LONGVARCHAR}, #{ioMiscLatency,jdbcType=LONGVARCHAR}, 
      #{innodbBufferAllocated,jdbcType=LONGVARCHAR}, #{innodbBufferData,jdbcType=LONGVARCHAR}, 
      #{innodbBufferFree,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferWithBLOBs" >
    insert into schema_table_statistics_with_buffer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableSchema != null" >
        table_schema,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="rowsFetched != null" >
        rows_fetched,
      </if>
      <if test="rowsInserted != null" >
        rows_inserted,
      </if>
      <if test="rowsUpdated != null" >
        rows_updated,
      </if>
      <if test="rowsDeleted != null" >
        rows_deleted,
      </if>
      <if test="ioReadRequests != null" >
        io_read_requests,
      </if>
      <if test="ioWriteRequests != null" >
        io_write_requests,
      </if>
      <if test="ioMiscRequests != null" >
        io_misc_requests,
      </if>
      <if test="innodbBufferPages != null" >
        innodb_buffer_pages,
      </if>
      <if test="innodbBufferPagesHashed != null" >
        innodb_buffer_pages_hashed,
      </if>
      <if test="innodbBufferPagesOld != null" >
        innodb_buffer_pages_old,
      </if>
      <if test="innodbBufferRowsCached != null" >
        innodb_buffer_rows_cached,
      </if>
      <if test="fetchLatency != null" >
        fetch_latency,
      </if>
      <if test="insertLatency != null" >
        insert_latency,
      </if>
      <if test="updateLatency != null" >
        update_latency,
      </if>
      <if test="deleteLatency != null" >
        delete_latency,
      </if>
      <if test="ioRead != null" >
        io_read,
      </if>
      <if test="ioReadLatency != null" >
        io_read_latency,
      </if>
      <if test="ioWrite != null" >
        io_write,
      </if>
      <if test="ioWriteLatency != null" >
        io_write_latency,
      </if>
      <if test="ioMiscLatency != null" >
        io_misc_latency,
      </if>
      <if test="innodbBufferAllocated != null" >
        innodb_buffer_allocated,
      </if>
      <if test="innodbBufferData != null" >
        innodb_buffer_data,
      </if>
      <if test="innodbBufferFree != null" >
        innodb_buffer_free,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableSchema != null" >
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="rowsFetched != null" >
        #{rowsFetched,jdbcType=BIGINT},
      </if>
      <if test="rowsInserted != null" >
        #{rowsInserted,jdbcType=BIGINT},
      </if>
      <if test="rowsUpdated != null" >
        #{rowsUpdated,jdbcType=BIGINT},
      </if>
      <if test="rowsDeleted != null" >
        #{rowsDeleted,jdbcType=BIGINT},
      </if>
      <if test="ioReadRequests != null" >
        #{ioReadRequests,jdbcType=DECIMAL},
      </if>
      <if test="ioWriteRequests != null" >
        #{ioWriteRequests,jdbcType=DECIMAL},
      </if>
      <if test="ioMiscRequests != null" >
        #{ioMiscRequests,jdbcType=DECIMAL},
      </if>
      <if test="innodbBufferPages != null" >
        #{innodbBufferPages,jdbcType=BIGINT},
      </if>
      <if test="innodbBufferPagesHashed != null" >
        #{innodbBufferPagesHashed,jdbcType=BIGINT},
      </if>
      <if test="innodbBufferPagesOld != null" >
        #{innodbBufferPagesOld,jdbcType=BIGINT},
      </if>
      <if test="innodbBufferRowsCached != null" >
        #{innodbBufferRowsCached,jdbcType=DECIMAL},
      </if>
      <if test="fetchLatency != null" >
        #{fetchLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="insertLatency != null" >
        #{insertLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateLatency != null" >
        #{updateLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleteLatency != null" >
        #{deleteLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="ioRead != null" >
        #{ioRead,jdbcType=LONGVARCHAR},
      </if>
      <if test="ioReadLatency != null" >
        #{ioReadLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="ioWrite != null" >
        #{ioWrite,jdbcType=LONGVARCHAR},
      </if>
      <if test="ioWriteLatency != null" >
        #{ioWriteLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="ioMiscLatency != null" >
        #{ioMiscLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="innodbBufferAllocated != null" >
        #{innodbBufferAllocated,jdbcType=LONGVARCHAR},
      </if>
      <if test="innodbBufferData != null" >
        #{innodbBufferData,jdbcType=LONGVARCHAR},
      </if>
      <if test="innodbBufferFree != null" >
        #{innodbBufferFree,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.SchemaTableStatisticsWithBufferExample" resultType="java.lang.Integer" >
    select count(*) from schema_table_statistics_with_buffer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update schema_table_statistics_with_buffer
    <set >
      <if test="record.tableSchema != null" >
        table_schema = #{record.tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.rowsFetched != null" >
        rows_fetched = #{record.rowsFetched,jdbcType=BIGINT},
      </if>
      <if test="record.rowsInserted != null" >
        rows_inserted = #{record.rowsInserted,jdbcType=BIGINT},
      </if>
      <if test="record.rowsUpdated != null" >
        rows_updated = #{record.rowsUpdated,jdbcType=BIGINT},
      </if>
      <if test="record.rowsDeleted != null" >
        rows_deleted = #{record.rowsDeleted,jdbcType=BIGINT},
      </if>
      <if test="record.ioReadRequests != null" >
        io_read_requests = #{record.ioReadRequests,jdbcType=DECIMAL},
      </if>
      <if test="record.ioWriteRequests != null" >
        io_write_requests = #{record.ioWriteRequests,jdbcType=DECIMAL},
      </if>
      <if test="record.ioMiscRequests != null" >
        io_misc_requests = #{record.ioMiscRequests,jdbcType=DECIMAL},
      </if>
      <if test="record.innodbBufferPages != null" >
        innodb_buffer_pages = #{record.innodbBufferPages,jdbcType=BIGINT},
      </if>
      <if test="record.innodbBufferPagesHashed != null" >
        innodb_buffer_pages_hashed = #{record.innodbBufferPagesHashed,jdbcType=BIGINT},
      </if>
      <if test="record.innodbBufferPagesOld != null" >
        innodb_buffer_pages_old = #{record.innodbBufferPagesOld,jdbcType=BIGINT},
      </if>
      <if test="record.innodbBufferRowsCached != null" >
        innodb_buffer_rows_cached = #{record.innodbBufferRowsCached,jdbcType=DECIMAL},
      </if>
      <if test="record.fetchLatency != null" >
        fetch_latency = #{record.fetchLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.insertLatency != null" >
        insert_latency = #{record.insertLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.updateLatency != null" >
        update_latency = #{record.updateLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.deleteLatency != null" >
        delete_latency = #{record.deleteLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ioRead != null" >
        io_read = #{record.ioRead,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ioReadLatency != null" >
        io_read_latency = #{record.ioReadLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ioWrite != null" >
        io_write = #{record.ioWrite,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ioWriteLatency != null" >
        io_write_latency = #{record.ioWriteLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ioMiscLatency != null" >
        io_misc_latency = #{record.ioMiscLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.innodbBufferAllocated != null" >
        innodb_buffer_allocated = #{record.innodbBufferAllocated,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.innodbBufferData != null" >
        innodb_buffer_data = #{record.innodbBufferData,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.innodbBufferFree != null" >
        innodb_buffer_free = #{record.innodbBufferFree,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update schema_table_statistics_with_buffer
    set table_schema = #{record.tableSchema,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      rows_fetched = #{record.rowsFetched,jdbcType=BIGINT},
      rows_inserted = #{record.rowsInserted,jdbcType=BIGINT},
      rows_updated = #{record.rowsUpdated,jdbcType=BIGINT},
      rows_deleted = #{record.rowsDeleted,jdbcType=BIGINT},
      io_read_requests = #{record.ioReadRequests,jdbcType=DECIMAL},
      io_write_requests = #{record.ioWriteRequests,jdbcType=DECIMAL},
      io_misc_requests = #{record.ioMiscRequests,jdbcType=DECIMAL},
      innodb_buffer_pages = #{record.innodbBufferPages,jdbcType=BIGINT},
      innodb_buffer_pages_hashed = #{record.innodbBufferPagesHashed,jdbcType=BIGINT},
      innodb_buffer_pages_old = #{record.innodbBufferPagesOld,jdbcType=BIGINT},
      innodb_buffer_rows_cached = #{record.innodbBufferRowsCached,jdbcType=DECIMAL},
      fetch_latency = #{record.fetchLatency,jdbcType=LONGVARCHAR},
      insert_latency = #{record.insertLatency,jdbcType=LONGVARCHAR},
      update_latency = #{record.updateLatency,jdbcType=LONGVARCHAR},
      delete_latency = #{record.deleteLatency,jdbcType=LONGVARCHAR},
      io_read = #{record.ioRead,jdbcType=LONGVARCHAR},
      io_read_latency = #{record.ioReadLatency,jdbcType=LONGVARCHAR},
      io_write = #{record.ioWrite,jdbcType=LONGVARCHAR},
      io_write_latency = #{record.ioWriteLatency,jdbcType=LONGVARCHAR},
      io_misc_latency = #{record.ioMiscLatency,jdbcType=LONGVARCHAR},
      innodb_buffer_allocated = #{record.innodbBufferAllocated,jdbcType=LONGVARCHAR},
      innodb_buffer_data = #{record.innodbBufferData,jdbcType=LONGVARCHAR},
      innodb_buffer_free = #{record.innodbBufferFree,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update schema_table_statistics_with_buffer
    set table_schema = #{record.tableSchema,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      rows_fetched = #{record.rowsFetched,jdbcType=BIGINT},
      rows_inserted = #{record.rowsInserted,jdbcType=BIGINT},
      rows_updated = #{record.rowsUpdated,jdbcType=BIGINT},
      rows_deleted = #{record.rowsDeleted,jdbcType=BIGINT},
      io_read_requests = #{record.ioReadRequests,jdbcType=DECIMAL},
      io_write_requests = #{record.ioWriteRequests,jdbcType=DECIMAL},
      io_misc_requests = #{record.ioMiscRequests,jdbcType=DECIMAL},
      innodb_buffer_pages = #{record.innodbBufferPages,jdbcType=BIGINT},
      innodb_buffer_pages_hashed = #{record.innodbBufferPagesHashed,jdbcType=BIGINT},
      innodb_buffer_pages_old = #{record.innodbBufferPagesOld,jdbcType=BIGINT},
      innodb_buffer_rows_cached = #{record.innodbBufferRowsCached,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>