<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.StatementsWithErrorsOrWarningsMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarnings" >
    <result column="db" property="db" jdbcType="VARCHAR" />
    <result column="exec_count" property="execCount" jdbcType="BIGINT" />
    <result column="errors" property="errors" jdbcType="BIGINT" />
    <result column="error_pct" property="errorPct" jdbcType="DECIMAL" />
    <result column="warnings" property="warnings" jdbcType="BIGINT" />
    <result column="warning_pct" property="warningPct" jdbcType="DECIMAL" />
    <result column="first_seen" property="firstSeen" jdbcType="TIMESTAMP" />
    <result column="last_seen" property="lastSeen" jdbcType="TIMESTAMP" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarnings" extends="BaseResultMap" >
    <result column="query" property="query" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    db, exec_count, errors, error_pct, warnings, warning_pct, first_seen, last_seen, 
    digest
  </sql>
  <sql id="Blob_Column_List" >
    query
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarningsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from statements_with_errors_or_warnings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarningsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statements_with_errors_or_warnings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarningsExample" >
    delete from statements_with_errors_or_warnings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarnings" >
    insert into statements_with_errors_or_warnings (db, exec_count, errors, 
      error_pct, warnings, warning_pct, 
      first_seen, last_seen, digest, 
      query)
    values (#{db,jdbcType=VARCHAR}, #{execCount,jdbcType=BIGINT}, #{errors,jdbcType=BIGINT}, 
      #{errorPct,jdbcType=DECIMAL}, #{warnings,jdbcType=BIGINT}, #{warningPct,jdbcType=DECIMAL}, 
      #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}, #{digest,jdbcType=VARCHAR}, 
      #{query,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarnings" >
    insert into statements_with_errors_or_warnings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="db != null" >
        db,
      </if>
      <if test="execCount != null" >
        exec_count,
      </if>
      <if test="errors != null" >
        errors,
      </if>
      <if test="errorPct != null" >
        error_pct,
      </if>
      <if test="warnings != null" >
        warnings,
      </if>
      <if test="warningPct != null" >
        warning_pct,
      </if>
      <if test="firstSeen != null" >
        first_seen,
      </if>
      <if test="lastSeen != null" >
        last_seen,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="query != null" >
        query,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="db != null" >
        #{db,jdbcType=VARCHAR},
      </if>
      <if test="execCount != null" >
        #{execCount,jdbcType=BIGINT},
      </if>
      <if test="errors != null" >
        #{errors,jdbcType=BIGINT},
      </if>
      <if test="errorPct != null" >
        #{errorPct,jdbcType=DECIMAL},
      </if>
      <if test="warnings != null" >
        #{warnings,jdbcType=BIGINT},
      </if>
      <if test="warningPct != null" >
        #{warningPct,jdbcType=DECIMAL},
      </if>
      <if test="firstSeen != null" >
        #{firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSeen != null" >
        #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="query != null" >
        #{query,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.StatementsWithErrorsOrWarningsExample" resultType="java.lang.Integer" >
    select count(*) from statements_with_errors_or_warnings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update statements_with_errors_or_warnings
    <set >
      <if test="record.db != null" >
        db = #{record.db,jdbcType=VARCHAR},
      </if>
      <if test="record.execCount != null" >
        exec_count = #{record.execCount,jdbcType=BIGINT},
      </if>
      <if test="record.errors != null" >
        errors = #{record.errors,jdbcType=BIGINT},
      </if>
      <if test="record.errorPct != null" >
        error_pct = #{record.errorPct,jdbcType=DECIMAL},
      </if>
      <if test="record.warnings != null" >
        warnings = #{record.warnings,jdbcType=BIGINT},
      </if>
      <if test="record.warningPct != null" >
        warning_pct = #{record.warningPct,jdbcType=DECIMAL},
      </if>
      <if test="record.firstSeen != null" >
        first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastSeen != null" >
        last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.digest != null" >
        digest = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.query != null" >
        query = #{record.query,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update statements_with_errors_or_warnings
    set db = #{record.db,jdbcType=VARCHAR},
      exec_count = #{record.execCount,jdbcType=BIGINT},
      errors = #{record.errors,jdbcType=BIGINT},
      error_pct = #{record.errorPct,jdbcType=DECIMAL},
      warnings = #{record.warnings,jdbcType=BIGINT},
      warning_pct = #{record.warningPct,jdbcType=DECIMAL},
      first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      digest = #{record.digest,jdbcType=VARCHAR},
      query = #{record.query,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update statements_with_errors_or_warnings
    set db = #{record.db,jdbcType=VARCHAR},
      exec_count = #{record.execCount,jdbcType=BIGINT},
      errors = #{record.errors,jdbcType=BIGINT},
      error_pct = #{record.errorPct,jdbcType=DECIMAL},
      warnings = #{record.warnings,jdbcType=BIGINT},
      warning_pct = #{record.warningPct,jdbcType=DECIMAL},
      first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      digest = #{record.digest,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>