<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.StatementsWithTempTablesMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.StatementsWithTempTables" >
    <result column="db" property="db" jdbcType="VARCHAR" />
    <result column="exec_count" property="execCount" jdbcType="BIGINT" />
    <result column="memory_tmp_tables" property="memoryTmpTables" jdbcType="BIGINT" />
    <result column="disk_tmp_tables" property="diskTmpTables" jdbcType="BIGINT" />
    <result column="avg_tmp_tables_per_query" property="avgTmpTablesPerQuery" jdbcType="DECIMAL" />
    <result column="tmp_tables_to_disk_pct" property="tmpTablesToDiskPct" jdbcType="DECIMAL" />
    <result column="first_seen" property="firstSeen" jdbcType="TIMESTAMP" />
    <result column="last_seen" property="lastSeen" jdbcType="TIMESTAMP" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yan.crowdfunding.entity.StatementsWithTempTablesWithBLOBs" extends="BaseResultMap" >
    <result column="query" property="query" jdbcType="LONGVARCHAR" />
    <result column="total_latency" property="totalLatency" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    db, exec_count, memory_tmp_tables, disk_tmp_tables, avg_tmp_tables_per_query, tmp_tables_to_disk_pct, 
    first_seen, last_seen, digest
  </sql>
  <sql id="Blob_Column_List" >
    query, total_latency
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from statements_with_temp_tables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statements_with_temp_tables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesExample" >
    delete from statements_with_temp_tables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesWithBLOBs" >
    insert into statements_with_temp_tables (db, exec_count, memory_tmp_tables, 
      disk_tmp_tables, avg_tmp_tables_per_query, tmp_tables_to_disk_pct, 
      first_seen, last_seen, digest, 
      query, total_latency)
    values (#{db,jdbcType=VARCHAR}, #{execCount,jdbcType=BIGINT}, #{memoryTmpTables,jdbcType=BIGINT}, 
      #{diskTmpTables,jdbcType=BIGINT}, #{avgTmpTablesPerQuery,jdbcType=DECIMAL}, #{tmpTablesToDiskPct,jdbcType=DECIMAL}, 
      #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}, #{digest,jdbcType=VARCHAR}, 
      #{query,jdbcType=LONGVARCHAR}, #{totalLatency,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesWithBLOBs" >
    insert into statements_with_temp_tables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="db != null" >
        db,
      </if>
      <if test="execCount != null" >
        exec_count,
      </if>
      <if test="memoryTmpTables != null" >
        memory_tmp_tables,
      </if>
      <if test="diskTmpTables != null" >
        disk_tmp_tables,
      </if>
      <if test="avgTmpTablesPerQuery != null" >
        avg_tmp_tables_per_query,
      </if>
      <if test="tmpTablesToDiskPct != null" >
        tmp_tables_to_disk_pct,
      </if>
      <if test="firstSeen != null" >
        first_seen,
      </if>
      <if test="lastSeen != null" >
        last_seen,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="query != null" >
        query,
      </if>
      <if test="totalLatency != null" >
        total_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="db != null" >
        #{db,jdbcType=VARCHAR},
      </if>
      <if test="execCount != null" >
        #{execCount,jdbcType=BIGINT},
      </if>
      <if test="memoryTmpTables != null" >
        #{memoryTmpTables,jdbcType=BIGINT},
      </if>
      <if test="diskTmpTables != null" >
        #{diskTmpTables,jdbcType=BIGINT},
      </if>
      <if test="avgTmpTablesPerQuery != null" >
        #{avgTmpTablesPerQuery,jdbcType=DECIMAL},
      </if>
      <if test="tmpTablesToDiskPct != null" >
        #{tmpTablesToDiskPct,jdbcType=DECIMAL},
      </if>
      <if test="firstSeen != null" >
        #{firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSeen != null" >
        #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="query != null" >
        #{query,jdbcType=LONGVARCHAR},
      </if>
      <if test="totalLatency != null" >
        #{totalLatency,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.StatementsWithTempTablesExample" resultType="java.lang.Integer" >
    select count(*) from statements_with_temp_tables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update statements_with_temp_tables
    <set >
      <if test="record.db != null" >
        db = #{record.db,jdbcType=VARCHAR},
      </if>
      <if test="record.execCount != null" >
        exec_count = #{record.execCount,jdbcType=BIGINT},
      </if>
      <if test="record.memoryTmpTables != null" >
        memory_tmp_tables = #{record.memoryTmpTables,jdbcType=BIGINT},
      </if>
      <if test="record.diskTmpTables != null" >
        disk_tmp_tables = #{record.diskTmpTables,jdbcType=BIGINT},
      </if>
      <if test="record.avgTmpTablesPerQuery != null" >
        avg_tmp_tables_per_query = #{record.avgTmpTablesPerQuery,jdbcType=DECIMAL},
      </if>
      <if test="record.tmpTablesToDiskPct != null" >
        tmp_tables_to_disk_pct = #{record.tmpTablesToDiskPct,jdbcType=DECIMAL},
      </if>
      <if test="record.firstSeen != null" >
        first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastSeen != null" >
        last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.digest != null" >
        digest = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.query != null" >
        query = #{record.query,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.totalLatency != null" >
        total_latency = #{record.totalLatency,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update statements_with_temp_tables
    set db = #{record.db,jdbcType=VARCHAR},
      exec_count = #{record.execCount,jdbcType=BIGINT},
      memory_tmp_tables = #{record.memoryTmpTables,jdbcType=BIGINT},
      disk_tmp_tables = #{record.diskTmpTables,jdbcType=BIGINT},
      avg_tmp_tables_per_query = #{record.avgTmpTablesPerQuery,jdbcType=DECIMAL},
      tmp_tables_to_disk_pct = #{record.tmpTablesToDiskPct,jdbcType=DECIMAL},
      first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      digest = #{record.digest,jdbcType=VARCHAR},
      query = #{record.query,jdbcType=LONGVARCHAR},
      total_latency = #{record.totalLatency,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update statements_with_temp_tables
    set db = #{record.db,jdbcType=VARCHAR},
      exec_count = #{record.execCount,jdbcType=BIGINT},
      memory_tmp_tables = #{record.memoryTmpTables,jdbcType=BIGINT},
      disk_tmp_tables = #{record.diskTmpTables,jdbcType=BIGINT},
      avg_tmp_tables_per_query = #{record.avgTmpTablesPerQuery,jdbcType=DECIMAL},
      tmp_tables_to_disk_pct = #{record.tmpTablesToDiskPct,jdbcType=DECIMAL},
      first_seen = #{record.firstSeen,jdbcType=TIMESTAMP},
      last_seen = #{record.lastSeen,jdbcType=TIMESTAMP},
      digest = #{record.digest,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>