<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.TablespacesMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.Tablespaces" >
    <result column="TABLESPACE_NAME" property="tablespaceName" jdbcType="VARCHAR" />
    <result column="ENGINE" property="engine" jdbcType="VARCHAR" />
    <result column="TABLESPACE_TYPE" property="tablespaceType" jdbcType="VARCHAR" />
    <result column="LOGFILE_GROUP_NAME" property="logfileGroupName" jdbcType="VARCHAR" />
    <result column="EXTENT_SIZE" property="extentSize" jdbcType="BIGINT" />
    <result column="AUTOEXTEND_SIZE" property="autoextendSize" jdbcType="BIGINT" />
    <result column="MAXIMUM_SIZE" property="maximumSize" jdbcType="BIGINT" />
    <result column="NODEGROUP_ID" property="nodegroupId" jdbcType="BIGINT" />
    <result column="TABLESPACE_COMMENT" property="tablespaceComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TABLESPACE_NAME, ENGINE, TABLESPACE_TYPE, LOGFILE_GROUP_NAME, EXTENT_SIZE, AUTOEXTEND_SIZE, 
    MAXIMUM_SIZE, NODEGROUP_ID, TABLESPACE_COMMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.TablespacesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TABLESPACES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.TablespacesExample" >
    delete from TABLESPACES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.Tablespaces" >
    insert into TABLESPACES (TABLESPACE_NAME, ENGINE, TABLESPACE_TYPE, 
      LOGFILE_GROUP_NAME, EXTENT_SIZE, AUTOEXTEND_SIZE, 
      MAXIMUM_SIZE, NODEGROUP_ID, TABLESPACE_COMMENT
      )
    values (#{tablespaceName,jdbcType=VARCHAR}, #{engine,jdbcType=VARCHAR}, #{tablespaceType,jdbcType=VARCHAR}, 
      #{logfileGroupName,jdbcType=VARCHAR}, #{extentSize,jdbcType=BIGINT}, #{autoextendSize,jdbcType=BIGINT}, 
      #{maximumSize,jdbcType=BIGINT}, #{nodegroupId,jdbcType=BIGINT}, #{tablespaceComment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.Tablespaces" >
    insert into TABLESPACES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tablespaceName != null" >
        TABLESPACE_NAME,
      </if>
      <if test="engine != null" >
        ENGINE,
      </if>
      <if test="tablespaceType != null" >
        TABLESPACE_TYPE,
      </if>
      <if test="logfileGroupName != null" >
        LOGFILE_GROUP_NAME,
      </if>
      <if test="extentSize != null" >
        EXTENT_SIZE,
      </if>
      <if test="autoextendSize != null" >
        AUTOEXTEND_SIZE,
      </if>
      <if test="maximumSize != null" >
        MAXIMUM_SIZE,
      </if>
      <if test="nodegroupId != null" >
        NODEGROUP_ID,
      </if>
      <if test="tablespaceComment != null" >
        TABLESPACE_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tablespaceName != null" >
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="engine != null" >
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceType != null" >
        #{tablespaceType,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupName != null" >
        #{logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="extentSize != null" >
        #{extentSize,jdbcType=BIGINT},
      </if>
      <if test="autoextendSize != null" >
        #{autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="maximumSize != null" >
        #{maximumSize,jdbcType=BIGINT},
      </if>
      <if test="nodegroupId != null" >
        #{nodegroupId,jdbcType=BIGINT},
      </if>
      <if test="tablespaceComment != null" >
        #{tablespaceComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.TablespacesExample" resultType="java.lang.Integer" >
    select count(*) from TABLESPACES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TABLESPACES
    <set >
      <if test="record.tablespaceName != null" >
        TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.engine != null" >
        ENGINE = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.tablespaceType != null" >
        TABLESPACE_TYPE = #{record.tablespaceType,jdbcType=VARCHAR},
      </if>
      <if test="record.logfileGroupName != null" >
        LOGFILE_GROUP_NAME = #{record.logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.extentSize != null" >
        EXTENT_SIZE = #{record.extentSize,jdbcType=BIGINT},
      </if>
      <if test="record.autoextendSize != null" >
        AUTOEXTEND_SIZE = #{record.autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="record.maximumSize != null" >
        MAXIMUM_SIZE = #{record.maximumSize,jdbcType=BIGINT},
      </if>
      <if test="record.nodegroupId != null" >
        NODEGROUP_ID = #{record.nodegroupId,jdbcType=BIGINT},
      </if>
      <if test="record.tablespaceComment != null" >
        TABLESPACE_COMMENT = #{record.tablespaceComment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TABLESPACES
    set TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      ENGINE = #{record.engine,jdbcType=VARCHAR},
      TABLESPACE_TYPE = #{record.tablespaceType,jdbcType=VARCHAR},
      LOGFILE_GROUP_NAME = #{record.logfileGroupName,jdbcType=VARCHAR},
      EXTENT_SIZE = #{record.extentSize,jdbcType=BIGINT},
      AUTOEXTEND_SIZE = #{record.autoextendSize,jdbcType=BIGINT},
      MAXIMUM_SIZE = #{record.maximumSize,jdbcType=BIGINT},
      NODEGROUP_ID = #{record.nodegroupId,jdbcType=BIGINT},
      TABLESPACE_COMMENT = #{record.tablespaceComment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>