<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.TablesPrivMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.TablesPriv" >
    <result column="Host" property="host" jdbcType="CHAR" />
    <result column="Db" property="db" jdbcType="CHAR" />
    <result column="User" property="user" jdbcType="CHAR" />
    <result column="Table_name" property="tableName" jdbcType="CHAR" />
    <result column="Grantor" property="grantor" jdbcType="CHAR" />
    <result column="Timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="Table_priv" property="tablePriv" jdbcType="CHAR" />
    <result column="Column_priv" property="columnPriv" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Host, Db, User, Table_name, Grantor, Timestamp, Table_priv, Column_priv
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.TablesPrivExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tables_priv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.TablesPrivExample" >
    delete from tables_priv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.TablesPriv" >
    insert into tables_priv (Host, Db, User, Table_name, 
      Grantor, Timestamp, Table_priv, 
      Column_priv)
    values (#{host,jdbcType=CHAR}, #{db,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{tableName,jdbcType=CHAR}, 
      #{grantor,jdbcType=CHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{tablePriv,jdbcType=CHAR}, 
      #{columnPriv,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.TablesPriv" >
    insert into tables_priv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        Host,
      </if>
      <if test="db != null" >
        Db,
      </if>
      <if test="user != null" >
        User,
      </if>
      <if test="tableName != null" >
        Table_name,
      </if>
      <if test="grantor != null" >
        Grantor,
      </if>
      <if test="timestamp != null" >
        Timestamp,
      </if>
      <if test="tablePriv != null" >
        Table_priv,
      </if>
      <if test="columnPriv != null" >
        Column_priv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="host != null" >
        #{host,jdbcType=CHAR},
      </if>
      <if test="db != null" >
        #{db,jdbcType=CHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=CHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=CHAR},
      </if>
      <if test="grantor != null" >
        #{grantor,jdbcType=CHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="tablePriv != null" >
        #{tablePriv,jdbcType=CHAR},
      </if>
      <if test="columnPriv != null" >
        #{columnPriv,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.TablesPrivExample" resultType="java.lang.Integer" >
    select count(*) from tables_priv
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tables_priv
    <set >
      <if test="record.host != null" >
        Host = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.db != null" >
        Db = #{record.db,jdbcType=CHAR},
      </if>
      <if test="record.user != null" >
        User = #{record.user,jdbcType=CHAR},
      </if>
      <if test="record.tableName != null" >
        Table_name = #{record.tableName,jdbcType=CHAR},
      </if>
      <if test="record.grantor != null" >
        Grantor = #{record.grantor,jdbcType=CHAR},
      </if>
      <if test="record.timestamp != null" >
        Timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tablePriv != null" >
        Table_priv = #{record.tablePriv,jdbcType=CHAR},
      </if>
      <if test="record.columnPriv != null" >
        Column_priv = #{record.columnPriv,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tables_priv
    set Host = #{record.host,jdbcType=CHAR},
      Db = #{record.db,jdbcType=CHAR},
      User = #{record.user,jdbcType=CHAR},
      Table_name = #{record.tableName,jdbcType=CHAR},
      Grantor = #{record.grantor,jdbcType=CHAR},
      Timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      Table_priv = #{record.tablePriv,jdbcType=CHAR},
      Column_priv = #{record.columnPriv,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>