<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.XIoGlobalByWaitByLatencyMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatency" >
    <result column="event_name" property="eventName" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="BIGINT" />
    <result column="total_latency" property="totalLatency" jdbcType="BIGINT" />
    <result column="avg_latency" property="avgLatency" jdbcType="BIGINT" />
    <result column="max_latency" property="maxLatency" jdbcType="BIGINT" />
    <result column="read_latency" property="readLatency" jdbcType="BIGINT" />
    <result column="write_latency" property="writeLatency" jdbcType="BIGINT" />
    <result column="misc_latency" property="miscLatency" jdbcType="BIGINT" />
    <result column="count_read" property="countRead" jdbcType="BIGINT" />
    <result column="total_read" property="totalRead" jdbcType="BIGINT" />
    <result column="avg_read" property="avgRead" jdbcType="DECIMAL" />
    <result column="count_write" property="countWrite" jdbcType="BIGINT" />
    <result column="total_written" property="totalWritten" jdbcType="BIGINT" />
    <result column="avg_written" property="avgWritten" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    event_name, total, total_latency, avg_latency, max_latency, read_latency, write_latency, 
    misc_latency, count_read, total_read, avg_read, count_write, total_written, avg_written
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatencyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x$io_global_by_wait_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatencyExample" >
    delete from x$io_global_by_wait_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatency" >
    insert into x$io_global_by_wait_by_latency (event_name, total, total_latency, 
      avg_latency, max_latency, read_latency, 
      write_latency, misc_latency, count_read, 
      total_read, avg_read, count_write, 
      total_written, avg_written)
    values (#{eventName,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, #{totalLatency,jdbcType=BIGINT}, 
      #{avgLatency,jdbcType=BIGINT}, #{maxLatency,jdbcType=BIGINT}, #{readLatency,jdbcType=BIGINT}, 
      #{writeLatency,jdbcType=BIGINT}, #{miscLatency,jdbcType=BIGINT}, #{countRead,jdbcType=BIGINT}, 
      #{totalRead,jdbcType=BIGINT}, #{avgRead,jdbcType=DECIMAL}, #{countWrite,jdbcType=BIGINT}, 
      #{totalWritten,jdbcType=BIGINT}, #{avgWritten,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatency" >
    insert into x$io_global_by_wait_by_latency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventName != null" >
        event_name,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="totalLatency != null" >
        total_latency,
      </if>
      <if test="avgLatency != null" >
        avg_latency,
      </if>
      <if test="maxLatency != null" >
        max_latency,
      </if>
      <if test="readLatency != null" >
        read_latency,
      </if>
      <if test="writeLatency != null" >
        write_latency,
      </if>
      <if test="miscLatency != null" >
        misc_latency,
      </if>
      <if test="countRead != null" >
        count_read,
      </if>
      <if test="totalRead != null" >
        total_read,
      </if>
      <if test="avgRead != null" >
        avg_read,
      </if>
      <if test="countWrite != null" >
        count_write,
      </if>
      <if test="totalWritten != null" >
        total_written,
      </if>
      <if test="avgWritten != null" >
        avg_written,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventName != null" >
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null" >
        #{totalLatency,jdbcType=BIGINT},
      </if>
      <if test="avgLatency != null" >
        #{avgLatency,jdbcType=BIGINT},
      </if>
      <if test="maxLatency != null" >
        #{maxLatency,jdbcType=BIGINT},
      </if>
      <if test="readLatency != null" >
        #{readLatency,jdbcType=BIGINT},
      </if>
      <if test="writeLatency != null" >
        #{writeLatency,jdbcType=BIGINT},
      </if>
      <if test="miscLatency != null" >
        #{miscLatency,jdbcType=BIGINT},
      </if>
      <if test="countRead != null" >
        #{countRead,jdbcType=BIGINT},
      </if>
      <if test="totalRead != null" >
        #{totalRead,jdbcType=BIGINT},
      </if>
      <if test="avgRead != null" >
        #{avgRead,jdbcType=DECIMAL},
      </if>
      <if test="countWrite != null" >
        #{countWrite,jdbcType=BIGINT},
      </if>
      <if test="totalWritten != null" >
        #{totalWritten,jdbcType=BIGINT},
      </if>
      <if test="avgWritten != null" >
        #{avgWritten,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.XIoGlobalByWaitByLatencyExample" resultType="java.lang.Integer" >
    select count(*) from x$io_global_by_wait_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x$io_global_by_wait_by_latency
    <set >
      <if test="record.eventName != null" >
        event_name = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=BIGINT},
      </if>
      <if test="record.totalLatency != null" >
        total_latency = #{record.totalLatency,jdbcType=BIGINT},
      </if>
      <if test="record.avgLatency != null" >
        avg_latency = #{record.avgLatency,jdbcType=BIGINT},
      </if>
      <if test="record.maxLatency != null" >
        max_latency = #{record.maxLatency,jdbcType=BIGINT},
      </if>
      <if test="record.readLatency != null" >
        read_latency = #{record.readLatency,jdbcType=BIGINT},
      </if>
      <if test="record.writeLatency != null" >
        write_latency = #{record.writeLatency,jdbcType=BIGINT},
      </if>
      <if test="record.miscLatency != null" >
        misc_latency = #{record.miscLatency,jdbcType=BIGINT},
      </if>
      <if test="record.countRead != null" >
        count_read = #{record.countRead,jdbcType=BIGINT},
      </if>
      <if test="record.totalRead != null" >
        total_read = #{record.totalRead,jdbcType=BIGINT},
      </if>
      <if test="record.avgRead != null" >
        avg_read = #{record.avgRead,jdbcType=DECIMAL},
      </if>
      <if test="record.countWrite != null" >
        count_write = #{record.countWrite,jdbcType=BIGINT},
      </if>
      <if test="record.totalWritten != null" >
        total_written = #{record.totalWritten,jdbcType=BIGINT},
      </if>
      <if test="record.avgWritten != null" >
        avg_written = #{record.avgWritten,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x$io_global_by_wait_by_latency
    set event_name = #{record.eventName,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=BIGINT},
      total_latency = #{record.totalLatency,jdbcType=BIGINT},
      avg_latency = #{record.avgLatency,jdbcType=BIGINT},
      max_latency = #{record.maxLatency,jdbcType=BIGINT},
      read_latency = #{record.readLatency,jdbcType=BIGINT},
      write_latency = #{record.writeLatency,jdbcType=BIGINT},
      misc_latency = #{record.miscLatency,jdbcType=BIGINT},
      count_read = #{record.countRead,jdbcType=BIGINT},
      total_read = #{record.totalRead,jdbcType=BIGINT},
      avg_read = #{record.avgRead,jdbcType=DECIMAL},
      count_write = #{record.countWrite,jdbcType=BIGINT},
      total_written = #{record.totalWritten,jdbcType=BIGINT},
      avg_written = #{record.avgWritten,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>