<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.XIoGlobalByFileByLatencyMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.XIoGlobalByFileByLatency" >
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="BIGINT" />
    <result column="total_latency" property="totalLatency" jdbcType="BIGINT" />
    <result column="count_read" property="countRead" jdbcType="BIGINT" />
    <result column="read_latency" property="readLatency" jdbcType="BIGINT" />
    <result column="count_write" property="countWrite" jdbcType="BIGINT" />
    <result column="write_latency" property="writeLatency" jdbcType="BIGINT" />
    <result column="count_misc" property="countMisc" jdbcType="BIGINT" />
    <result column="misc_latency" property="miscLatency" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    file, total, total_latency, count_read, read_latency, count_write, write_latency, 
    count_misc, misc_latency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.XIoGlobalByFileByLatencyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x$io_global_by_file_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.XIoGlobalByFileByLatencyExample" >
    delete from x$io_global_by_file_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.XIoGlobalByFileByLatency" >
    insert into x$io_global_by_file_by_latency (file, total, total_latency, 
      count_read, read_latency, count_write, 
      write_latency, count_misc, misc_latency
      )
    values (#{file,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, #{totalLatency,jdbcType=BIGINT}, 
      #{countRead,jdbcType=BIGINT}, #{readLatency,jdbcType=BIGINT}, #{countWrite,jdbcType=BIGINT}, 
      #{writeLatency,jdbcType=BIGINT}, #{countMisc,jdbcType=BIGINT}, #{miscLatency,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.XIoGlobalByFileByLatency" >
    insert into x$io_global_by_file_by_latency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="file != null" >
        file,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="totalLatency != null" >
        total_latency,
      </if>
      <if test="countRead != null" >
        count_read,
      </if>
      <if test="readLatency != null" >
        read_latency,
      </if>
      <if test="countWrite != null" >
        count_write,
      </if>
      <if test="writeLatency != null" >
        write_latency,
      </if>
      <if test="countMisc != null" >
        count_misc,
      </if>
      <if test="miscLatency != null" >
        misc_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null" >
        #{totalLatency,jdbcType=BIGINT},
      </if>
      <if test="countRead != null" >
        #{countRead,jdbcType=BIGINT},
      </if>
      <if test="readLatency != null" >
        #{readLatency,jdbcType=BIGINT},
      </if>
      <if test="countWrite != null" >
        #{countWrite,jdbcType=BIGINT},
      </if>
      <if test="writeLatency != null" >
        #{writeLatency,jdbcType=BIGINT},
      </if>
      <if test="countMisc != null" >
        #{countMisc,jdbcType=BIGINT},
      </if>
      <if test="miscLatency != null" >
        #{miscLatency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.XIoGlobalByFileByLatencyExample" resultType="java.lang.Integer" >
    select count(*) from x$io_global_by_file_by_latency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x$io_global_by_file_by_latency
    <set >
      <if test="record.file != null" >
        file = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=BIGINT},
      </if>
      <if test="record.totalLatency != null" >
        total_latency = #{record.totalLatency,jdbcType=BIGINT},
      </if>
      <if test="record.countRead != null" >
        count_read = #{record.countRead,jdbcType=BIGINT},
      </if>
      <if test="record.readLatency != null" >
        read_latency = #{record.readLatency,jdbcType=BIGINT},
      </if>
      <if test="record.countWrite != null" >
        count_write = #{record.countWrite,jdbcType=BIGINT},
      </if>
      <if test="record.writeLatency != null" >
        write_latency = #{record.writeLatency,jdbcType=BIGINT},
      </if>
      <if test="record.countMisc != null" >
        count_misc = #{record.countMisc,jdbcType=BIGINT},
      </if>
      <if test="record.miscLatency != null" >
        misc_latency = #{record.miscLatency,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x$io_global_by_file_by_latency
    set file = #{record.file,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=BIGINT},
      total_latency = #{record.totalLatency,jdbcType=BIGINT},
      count_read = #{record.countRead,jdbcType=BIGINT},
      read_latency = #{record.readLatency,jdbcType=BIGINT},
      count_write = #{record.countWrite,jdbcType=BIGINT},
      write_latency = #{record.writeLatency,jdbcType=BIGINT},
      count_misc = #{record.countMisc,jdbcType=BIGINT},
      misc_latency = #{record.miscLatency,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>