<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.crowdfunding.mapper.XSchemaTablesWithFullTableScansMapper" >
  <resultMap id="BaseResultMap" type="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScans" >
    <result column="object_schema" property="objectSchema" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="rows_full_scanned" property="rowsFullScanned" jdbcType="BIGINT" />
    <result column="latency" property="latency" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    object_schema, object_name, rows_full_scanned, latency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScansExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x$schema_tables_with_full_table_scans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScansExample" >
    delete from x$schema_tables_with_full_table_scans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScans" >
    insert into x$schema_tables_with_full_table_scans (object_schema, object_name, rows_full_scanned, 
      latency)
    values (#{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{rowsFullScanned,jdbcType=BIGINT}, 
      #{latency,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScans" >
    insert into x$schema_tables_with_full_table_scans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectSchema != null" >
        object_schema,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="rowsFullScanned != null" >
        rows_full_scanned,
      </if>
      <if test="latency != null" >
        latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectSchema != null" >
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="rowsFullScanned != null" >
        #{rowsFullScanned,jdbcType=BIGINT},
      </if>
      <if test="latency != null" >
        #{latency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.crowdfunding.entity.XSchemaTablesWithFullTableScansExample" resultType="java.lang.Integer" >
    select count(*) from x$schema_tables_with_full_table_scans
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x$schema_tables_with_full_table_scans
    <set >
      <if test="record.objectSchema != null" >
        object_schema = #{record.objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.objectName != null" >
        object_name = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.rowsFullScanned != null" >
        rows_full_scanned = #{record.rowsFullScanned,jdbcType=BIGINT},
      </if>
      <if test="record.latency != null" >
        latency = #{record.latency,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x$schema_tables_with_full_table_scans
    set object_schema = #{record.objectSchema,jdbcType=VARCHAR},
      object_name = #{record.objectName,jdbcType=VARCHAR},
      rows_full_scanned = #{record.rowsFullScanned,jdbcType=BIGINT},
      latency = #{record.latency,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>